.cardbuttons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 5px;
    min-width: 160px;
}

.todo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.disabled{
    text-decoration:line-through;
}